if ! on_git_branch; then
    echo "Not in a git repo, it is recommended to keep track of your flake with git\n"
fi

if on_git_branch main; then
    echo "On MAIN branch, checkout a branch\n"
fi

if has nix; then
    if has nix-direnv; then
        nix_direnv_watch_file *.nix
    else
        watch_file *.nix .*.nix pom.xml
    fi
    use flake
else
    echo "Nix not found"
fi
